@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600');  

html {

  color: #2a2a2a;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

h1 {
  color: #fff;
  text-align: center;
  font-weight: 300;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
  width: 500px; /* Ancho del slider */
  height: 300px; /* Alto del slider */
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
  display: flex;
}

#slider ul li {
  position: relative;
  width: 100%; /* Cada slide ocupará el 100% del ancho del slider */
  height: 100%;
  text-align: center;
  line-height: 300px;
  transition: all 0.3s ease-in-out; /* Transición para el movimiento suave */
  display: none; /* Por defecto, ocultamos todos los slides */
}

#slider ul li.active {
  display: block; /* Solo el slide con la clase 'active' será visible */
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
  left: 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}


.imgCarr{
    max-height: 20vh;
    justify-content: center;
    align-items: center;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btnSelector{
    margin-top: 2vh;
}
